*{
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', 'Oxygen', sans-serif;
    padding-top: 50px;
    background-color: #f5f5dc;
}
#root{
    height: 100vh;

    background-color: #f5f5dc;
    padding: 0 50px;
}
